/* Colors */
.ncwg-blue {color: #231E1E;}
.ncwg-yellow {color: #FFC864;}
.ncwg-red {color: #FF4621;}



/* Typography/Font Stuff */
.f-ncwg { font-size: 1em; }
@media screen and (min-width: 30em) {
  .f-ncwg { font-size: 3.5em; }
}
.arial {font-family: "Arial", sans-serif;}
.stretch {
  -webkit-transform: scale(1,2.2);
          transform: scale(1,1.2);
}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.project-a:hover {text-decoration: none;}



/* Image Stuff */
.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
