* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: black;
	background: white;
	padding: 35px;
}

header {
	margin-bottom: 100px;
}

.drop { margin-top: 60px }

a {
	text-decoration: none;
	color: inherit;
}

a:not(.nbb) {
	border-bottom: 1px solid #cccccb;
	padding-bottom: 8px;
}

p {
	margin: 40px 0;
}

.pb2 { margin-bottom: 80px }

code { background: #eee; padding: 5px }

.todo {
	color: #cccccb;
}

.fr { float: right }
.dib { display: inline-block }
.fl { float: left }

.\31{width:100.000%}
.\31 \2f 2{width:50.000%}

@media (max-width: 1000px) {
	.m-1 { width: 100% }
}
